*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    background-color: #ffd1dc;
    color: #444444;
    font-family: 'Poppins', sans-serif;
}

.right-column{
    height: 100vh;
    background-size: cover;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 20vh 0 20px 0;
    background-image: url("images/1-2cf0d19b.png");
}

.logo h1{
    color: #ff6f91;
    font-size: 2rem;

}

.logo img{
    width: 80;
    height: auto;
    color: #ff6f91;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    background-color: rgba(249, 249, 249, 0.8)
}

form{
    background-color: rgba(249, 249, 249, 0.7);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-block: 100px 0;
    width: 70%;
    width: 100%;
    height: 100%;
    
}

.form-controls{
    background-color: #f9f9f9;
}

form .intro, form .form-controls, form .form-footer{
    padding-inline: 50px 20%;
}

form .intro p, form .form-controls p{
    font-weight: 600;
    font-size: 1.5rem;
    color: #444444;
}

form p:nth-of-type(2) {
    margin-top: 20px;
    color: #ff6f91;
}

form .form-controls {
    margin-block: 50px 25px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2), 0 -2px 10px -2px rgba(0, 0, 0, 0.1);
    padding-block: 25px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    justify-content: space-between;
}

form .form-controls p {
    width: 100%;
    margin-bottom: 10px;
    color: #ff6f91;
}

form .form-controls label {
    width: 40%;
    font-size: 0.8rem;
    font-weight: bold;
    color: #444444;
}

form button {
    background-color: #ff6f91;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.05rem;
    margin-bottom: 30px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover{
    background-color: #e91e63;
}

form input {
    border: 2px solid #193c80;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    margin-top: 5px;
    transition: border-color 0.3s;
}

form input:focus {
    border-color: #e91e63;
    outline: none;
    box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.2);
}

form input[type="password"]:invalid {
    border-color: red;
  }
  
form .form-footer a {
    color: #ff6f91;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s;
}

form .form-footer a:hover{
    color: #e91e63;
}

.github-icon {
    position: fixed;
    top: 5px;
    right: 10px;
    z-index: 1000;
}